body{
margin: 0;
font-family: 'Poppins', sans-serif;
background: #f2f2f2;
}
h4{
text-align: center;
font-size: 18px;
margin: 5px;
padding-top: 15px;
}
.a{
text-decoration: none;
}
.gallery{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
align-items: center;
margin: 50px 0;
}
.content{
width: 23%;
margin: 14px ;
box-sizing: border-box;
float: left;
text-align: center;
border-radius: 35px;
cursor: pointer;
padding-top: 10px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25),
0 10px 10px rgba(0,0,0,0.22);
transition: .5s;
background: #f2f2f2;
}
.content:hover{
box-shadow: 0 3px 6px Orgba(0,0,0,0.16),
0 3px 6px Orgba(0,0,0,0.23);
transform: translate(0px, -8px);
}

img{
width: 300px;
height: 200px;
text-align: center;
margin: 15px 10px;
display: block;
}
.jk img{
	margin:70px 0px;
}

 p{
text-align: center;
color:#454545 ;
margin:10px 20px;
}
h6{
font-size: 26px;
text-align: center;
color: #222f3e;
margin: 0;
}
ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding-top: 0;
}
li{
padding-top: 5px;
}
.fa{
font-size: 26px;
transition: .4s;
margin: 3px;
}

.checked{
color: #ff9f43;
}
.fa:hover
{
transform:scale(1.3);
transition: .6s;
}

.button-1{
text-align: center;
font-size: 25px;
color:#000;
width: 100%;
padding:10px;
border: 10PX;
outline: none;
cursor: pointer;
margin-top: 5px;
display:inline-block;
background: #ff9f43;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}


.button-2{
text-align: center;
font-size: 25px;
color:#000;
width: 100%;
padding:10px;
border: 10PX;
outline: none;
cursor: pointer;
margin-top: 5px;
display:inline-block;
background: #ff9f43;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}


.button-3{
text-align: center;
font-size: 25px;
color:#000;
width: 100%;
padding:10px;
border: 10PX;
outline: none;
cursor: pointer;
margin-top: 5px;
display:inline-block;
background: #ff9f43;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}


.button-4{
text-align: center;
font-size: 25px;
color:#000;
width: 100%;
padding:10px;
border: 10PX;
outline: none;
cursor: pointer;
margin-top: 5px;
display:inline-block;
background: #ff9f43;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}



.button-5{
text-align: center;
font-size: 25px;
color:#000;
width: 100%;
padding:10px;
border: 10PX;
outline: none;
cursor: pointer;
margin-top: 5px;
display:inline-block;
background: #ff9f43;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}


.button-6{
text-align: center;
font-size: 25px;
color:#000;
width: 100%;
padding:10px;
border: 10PX;
outline: none;
cursor: pointer;
margin-top: 5px;
display:inline-block;
background: #ff9f43;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}


.button-7{
text-align: center;
font-size: 25px;
color:#000;
width: 100%;
padding:10px;
border: 10PX;
outline: none;
cursor: pointer;
margin-top: 5px;
display:inline-block;
background: #ff9f43;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}


.button-8{
text-align: center;
font-size: 25px;
color:#000;
width: 100%;
padding:10px;
border: 10PX;
outline: none;
cursor: pointer;
margin-top: 5px;
display:inline-block;
background: #ff9f43;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}
@media(max-width: 1000px) {
.content{
width: 45px;
}
}
@media(max-width: 750px) {
.content{
width: 100%;
}
